<p-multiSelect
  class="block"
  [ngModel]="valoresSelecionados()"
  (ngModelChange)="aoMudar($event)"
  [options]="grupos()"
  optionLabel="rotulo"
  optionValue="valor"
  optionGroupLabel="label"
  optionGroupChildren="items"
  [group]="true"
  [filter]="true"
  filterBy="rotulo"
  [placeholder]="placeholder()"
  [showToggleAll]="false"
  [maxSelectedLabels]="1"
  selectedItemsLabel="{0} categorias"
  appendTo="body"
  styleClass="w-full"
  [unstyled]="true"
  [pt]="ptSelectCategoria"
  [loading]="carregando()"></p-multiSelect>
